<h2 class="subtitle">Countries</h2>
<% if @countries.empty?%>
  <p>There are not cats for adoption. :(</p>
<% else %>
  <% @countries.each do |country_origin|%>
    <h2><%= link_to country_origin.country_name, country_origin%></h2>
  <%end%>
<% end %>