<h1 class="subtitle"><%=@country_origin.country_name%></h1>
<p>Abbreviation: <%=@country_origin.abbreviation%></p>
<h1 class="subtitle">Cats that live in this country.</h1>
<%@country_origin.breeds do |breed|%>
  <h1><%=breed.breed_name%></h1>
<%end%>
